.recipe-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, var(--primary-gradient-start), var(--primary-gradient-end));
    color: var(--text-color-light);
    padding: 0 20px;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--background-light);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.recipe-card:hover {
    transform: scale(1.05); /* Scale up the card when hovered */
}

.recipe-card-image {
    max-width: 200px; /* Set a maximum width */
    max-height: 200px; /* Set a maximum height */
    width: auto; /* Allow width to adjust to preserve aspect ratio */
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

.recipe-card-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.recipe-card h3 {
    font-size: 1.8em;
    color: var(--text-color-dark);
    font-weight: bold;
    margin-bottom: 8px;
}

.recipe-card p {
    font-size: 1.1em;
    color: var(--text-color-dark);
}

.recipe-card .recipe-caption {
    font-style: italic;
    color: var(--text-color-dark);
    margin-top: 10px;
}

.recipe-card .recipe-branch {
    color: var(--accent-color);
    font-weight: bold;
    margin-top: 5px;
}

.recipe-card .button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.recipe-card .edit-button,
.recipe-card .delete-button {
    padding: 12px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    width: 48%; /* Make both buttons take equal width */
    box-sizing: border-box;
}

.recipe-card .edit-button {
    background-color: var(--accent-color);
    color: var(--text-color-dark);
    border: none;
}

.recipe-card .edit-button:hover {
    background-color: var(--accent-color-dark);
}

.recipe-card .delete-button {
    background-color: var(--background-light);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.recipe-card .delete-button:hover {
    background-color: var(--accent-color-light);
}

.recipe-card .button-container button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

.back-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--accent-color);
    color: var(--text-color-dark);
    padding: 12px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    box-sizing: border-box;
}

.back-button:hover {
    background-color: var(--accent-color-dark);
}
