/* src/styles/Signup.css */

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, var(--primary-gradient-start), var(--primary-gradient-end));
  color: var(--text-color-light);
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-light);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.signup-header {
  font-size: 2rem;
  margin-bottom: 20px;
}

.signup-input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  color: var(--primary-gradient-start);
}

.signup-input::placeholder {
  color: var(--primary-gradient-start);
}

.signup-input[type="file"] {
  padding: 5px;
  color: var(--text-color-light);
}

.signup-button {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  font-size: 1rem;
  color: var(--primary-gradient-start);
  background-color: var(--text-color-light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
}

.signup-button:hover {
  background-color: var(--primary-gradient-start);
  color: var(--text-color-light);
}

.login-link {
  margin-top: 15px;
  color: var(--text-color-light);
  text-decoration: underline;
  cursor: pointer;
}

.login-link:hover {
  color: var(--primary-gradient-end);
}
